<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--falseかtrueを入力してください。
		false:同期通信、true非同期通信-->
		<add key ="async" value="false"/>
		<!--出前館インセンティブサイトURL-->
		<add key ="demaekanUrl" value="https://cdn.demae-can.com/contents/driver/boost/area/index.html"/>
		<!--LineNotifyHttpPostURL-->
		<add key ="lineUrl" value="https://notify-api.line.me/api/notify"/>
	</appSettings>
</configuration>